.input-container {
  background: #3b3b3b;
  border: 2px solid #3b3b3b;
  border-radius: 10px;
  padding: 8px 16px;
  width: 100%;

  display: flex;
  align-items: center;
  margin-top: 24px;

  .icon {
    margin-right: 16px;
    opacity: 0.9;
  }

  input {
    flex: 1;
    border: 0;
    color: #fff;
    background: transparent;

    &::placeholder {
      opacity: 0.9;
    }
  }
}

.on-focus {
  border-color: #fff;

  .icon {
    opacity: 1;
  }
}
