<div class="container">
  <div class="background">
    <img src="assets/signup.svg" alt="bg" />
    <p>Sign up now and never miss a word</p>
  </div>
  <div class="content">
    <form >
      <h1>Sign Up</h1>
      <app-input icon="user" name="name" type="text" placeholder="Name"></app-input>
      <app-input icon="mail" name="email" type="email" placeholder="E-mail"></app-input>
      <app-input icon="lock" name="password" type="password" placeholder="Password"></app-input>
      <app-input icon="lock" name="confirmPassword" type="password" placeholder="Confirm Password"></app-input>
      <app-button type="submit">Sign up</app-button>
      <div class="links">
        <a [routerLink]="['/']">
          <i-feather name="chevron-left"></i-feather>
          SignIn page
        </a>
      </div>
    </form>
  </div>
</div>
